[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[user]
	name = Piotr Kowalski
	email = piotr@pkowalski.net
	signingkey = 4D875B9404957208
[core]
	editor = /snap/bin/nvim
	autocrlf = false
	pager = delta
[commit]
	gpgsign = true
